*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetica Neue", sans-serif;
    src: url("/fonts/HelveticaNeue-01.ttf");
    src: url("/fonts/HelveticaNeue-Bold-02.ttf");
    src: url("/fonts/HelveticaNeue-BoldItalic-04.ttf");
    src: url("/fonts/HelveticaNeue-CondensedBlack-10.ttf");
    src: url("/fonts/HelveticaNeue-CondensedBold-05.ttf");
    src: url("/fonts/HelveticaNeue-Italic-03.ttf");
    src: url("/fonts/HelveticaNeue-Light-08.ttf");
    src: url("/fonts/HelveticaNeue-LightItalic-09.ttf");
    src: url("/fonts/HelveticaNeue-Medium-11.ttf");
    src: url("/fonts/HelveticaNeue-MediumItalic-12.ttf");
    src: url("/fonts/HelveticaNeue-Thin-13.ttf");
    src: url("/fonts/HelveticaNeue-ThinItalic-14.ttf");
    src: url("/fonts/HelveticaNeue-UltraLight-06.ttf");
    src: url("/fonts/HelveticaNeue-UltraLightItalic-07.ttf");

  }
  

body{
        width: 100%;
        background: url(/images/cover.png) no-repeat center fixed; 
        
        background-size: cover;
      
}   

.header{
    height: 90px;
    /* width: 1780px; */
    width: 2920px;
    
    border: 1px solid rgba(8, 8, 8, 0.5);
    margin-top: 0px;
    margin-left: 70px;
    margin-right:70px;
   border-style: hidden hidden solid hidden;    
}

.h1{
    height: 88px;
    /* width: 1780px; */
    width: 798px;    
    border: 1px solid rgba(8, 8, 8, 0.5);
    margin-top: 0px;
    margin-left: 150px;
    margin-right:150px;
   border-style: hidden hidden solid hidden; 
  

}
#logo{
    height: 38px;
    width: 236px;
    padding-top: 26px;
    margin-left: 0px;
}
.stampandbox{
    height: 300px;
    width: 648px;
    position: relative;    
    margin-top: 474px;
    margin-bottom: 308px;
    /* margin-left: 728px; */
    margin-left: 1300px;
    margin-right: 546px;
    padding: 40px;
   
}
.stamp{
width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 348px;



}
.addResumeBox{
        
    margin-bottom: 200px;
    margin-left: 0px;
    margin-right: 184px;
    height: 60px;
    border-radius: 8px;
    background-color: #1a1a1a;
   position: relative;
     
  

}
.addresumetext{
    padding-top:18px;
    text-align: center;
    color: #fff;
    size: 20px;
    font-weight: 500;
    
}
/* span{
    margin-left: 58px;
    margin-top: 62px;
    width: 40px;
    height: 40px;

} */
.fa-chevron-left{
    margin-left: 58px;
    margin-top: 62px;
    width: 40px;
    height: 40px;
       
    
}
.icon{
    float: left;
    width: 10px;
    height: 10px;

}
h2{
    
    float: left;
    font-size: 24px;
    font-weight: 700;    
    line-height: 29px;
    clear: both;
    margin-top:44px;
    
}
h3{
    text-align: right;
    float: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    clear: both;
    margin-top: -16px;
}

.personalinfo{
    width: 1100px;
    height: 800px;
    /* background-color: #474747; */
    
}
.firstLastNames{
    margin-top: 70px;
    margin-left: 126px;
    width: 798px;
    display: flex;
    
    border-style: hidden hidden hidden hidden;

}
/* .fln{
    width: 420px;
    height: 122px;
} */
.firstName {
    width: 420px;
    height: 74px;
    flex-basis: auto;
    padding-left: 16px;
    
    
}
.lastName{
    width: 420px;
    height: 74px;
    flex-basis: auto;
    padding-left: 16px;
    
}
.low{
    margin-top: 8px;
    color: rgba(8, 8, 8, 0.5);

}
.container{
    /* width: 360px; */
    width: 530px;
    height: 30px;
    padding-top: 46px;
   display: flex;
}
.photo0{
    
    /* width: 350px; */
    /* flex-basis: 50px; */
    width: 800px;
    margin-right: 10px;
    
}
.photo{
    
    padding-left: 126px;
    
    font-size: 18px;
    font-weight: 500;
    float: left;

}

.uploadphoto{
    
    width: 108px;
    height: 28px;
    background-color: #0E80BF;
    /* flex-basis:50px; */
    float:right;
    
}
.upload{
    color: #fff;
    padding-top: 4px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: justify;
    font-size: 14px;

}
/* .simpletext{
    padding-bottom: 4px;
} */
.aboutMe{
    width: 798px;
    height: 104px;
    margin-top: 50px;
    margin-left: 126px;
}
.info{
    width: 846px;
    height: 140px;
}
.info{
    margin-top: 6px;

}
input[type="info"]::placeholder {
    /* text-align: left; */
    margin-top: 10px;
    padding-left: 6px;   
    position: absolute;         
   
}
.email{
    
    width: 846px;
    height: 26px;
    margin-top: 90px;
    margin-left: 126px;
    position: relative;
}
.emailbox{
    width: 766px;
    height:24px;
    position: absolute;
    
}
.email0, .mobile0{
    width: 846px;
    height:30px;

}

.mobile{
    
    width: 846px;
    height: 122px;
    
    margin-top: 90px;
    margin-left: 126px
}
.mobilebox{
    width: 798px;
    height: 48px;
}
.previousnext{
  width: 798px; 
  margin-top: 40px;                                                                                    
  display: flex; 
  flex: wrap;
  margin-right: 100px;
  position: relative;
}
.previousPage{
    width: 112px;
    height:48px;
    background-color: #6B40E3;
    float: left;    
    position: relative;
   

    
}

.nextPage{
    width: 150px;
    height: 48px;
    background-color: #6B40E3;
    margin-left: 820px;
    margin-bottom: 2px;
    float: right;
    position: absolute;
    
}
.nextPage2{
    width: 150px;
    height: 48px;
    background-color: #6B40E3;
    margin-left: 710px;
    margin-bottom: 2px;
    
    position: absolute;
}

.simpletext1{
    color: #fff;
    text-align: center;
    padding-top: 12px;
}

.smalllogo{
    margin-bottom: 44px;
    margin-left: 1176px;
    width: 42px;
}
.employer{
    margin-top: 30px;

}
.time{
    margin-top: 30px;
}
.time0{
    float: right;
}
.jobdescription{
    margin-top: 30px; 
}
.HL{
        margin-top: 50px;
        border: 1px solid #C1C1C1 ;
      }

.moreexperience{
    width: 290px;
    height: 50px;
    margin-top: 20px;
    background-color: #62A1EB;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 14px;

}
